# Supabase Environment Variables
VITE_BASE_PATH=/
VITE_SUPABASE_URL=your_supabase_project_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# Mapbox Environment Variables
VITE_MAPBOX_TOKEN=a
VITE_MAPBOX_STYLE_LIGHT=b
VITE_MAPBOX_STYLE_DARK=c